<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snow.storeapi.mapper.DictMapper">
    <resultMap id="BaseResultMap" type="com.snow.storeapi.entity.Dict">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
        <result column="data" property="data" typeHandler="com.snow.storeapi.config.JsonTypeHandler"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, dict_name, data, more_option, modify_time
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_dict where 1=1
        <if test="dictName != null">
            and dict_name like concat('%', #{dictName}, '%')
        </if>
        order by
        <choose>
            <when test="'id'.equals(sort)">id</when>
            <otherwise>modify_time desc</otherwise>
        </choose>
        <if test="desc">
            desc
        </if>
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from sys_dict
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.snow.storeapi.entity.Dict">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_dict (dict_name, data) values (#{dictName, jdbcType=VARCHAR}, #{data,jdbcType=OTHER,typeHandler=com.snow.storeapi.config.DictItemTypeHandler})
    </insert>
    <update id="modifyById" parameterType="com.snow.storeapi.entity.Dict">
        update sys_dict
        <set>
            <if test="dictName != null">
                dict_name = #{dictName,jdbcType=VARCHAR},
            </if>
            <if test="data != null">
                data = #{data,jdbcType=OTHER,typeHandler=com.snow.storeapi.config.DictItemTypeHandler},
            </if>
            <if test="moreOption != null">
                more_option = #{moreOption},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>