<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snow.storeapi.mapper.OrderMapper">
    <resultMap id="orderMap" type="map">
        <result property="address" column="address" typeHandler="com.snow.storeapi.config.JsonTypeHandler"></result>
    </resultMap>

    <resultMap id="orderData" type="map">
        <result property="customerAddress" column="customerAddress" typeHandler="com.snow.storeapi.config.JsonTypeHandler"></result>
    </resultMap>
    <select id="findByPage" resultMap="orderMap">
        SELECT
        o.id,
        o.total,
        o.total_money AS totalMoney,
        c.`name`,
        c.address,
        c.mobile,
        c.open_id AS openId,
        o.order_time AS orderTime
        FROM
        `order` o
        LEFT JOIN customer c ON o.buyer = c.id
        WHERE
        deleted = 0
        <trim>
            <if test="category != null">
                AND o.category = #{category}
            </if>
            <if test="address != null">
                AND c.address LIKE CONCAT(CONCAT('%', #{address}), '%')
            </if>
            <if test="customerName != null">
                AND c.name LIKE CONCAT(CONCAT('%', #{customerName}), '%')
            </if>
            <choose>
                <when test="startDate != null and endDate != null">
                    AND o.order_time <![CDATA[>= ]]> #{startDate}
                    AND o.order_time <![CDATA[<= ]]> #{endDate}
                </when>
                <otherwise>
                    AND o.order_time <![CDATA[>= ]]> DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')
                    AND o.order_time <![CDATA[<= ]]> DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')
                </otherwise>
            </choose>
        </trim>
        ORDER BY
        o.order_time DESC
        LIMIT #{start},#{end}
    </select>

    <select id="getDetailByOrderId" resultType="map">
        SELECT
            g.pre_sku as preSku,
            g.`name`,
            s.color,
            s.size,
            og.amount,
            og.sale_price AS salePrice
        FROM
            order_goods og
            LEFT JOIN stock s ON og.stock_id = s.id
            LEFT JOIN goods g ON s.goods_id = g.id
            where og.order_id = #{orderId}
    </select>

  <select id="getOrderDataById" resultMap="orderData">
    SELECT
        g.sku,
        g.`name`,
        s.color,
        s.size,
        og.amount,
        og.sale_price AS salePrice,
        og.subtotal_money as subtotalMoney,
        g.discount,
        c.`name` as customerName,
        c.address as customerAddress,
        c.mobile as customerMoblie,
        u.user_name AS inputUser
    FROM
        `order` o
        INNER JOIN order_goods og ON o.id = og.order_id
		LEFT JOIN stock s on s.id = og.stock_id
        LEFT JOIN goods g ON s.goods_id = g.id
        LEFT JOIN `user` u ON o.input_user = u.id
        LEFT JOIN customer c on o.buyer  = c.id
        WHERE o.id = #{orderId}
  </select>

    <select id="getGroupBy" resultType="map">
        SELECT g.sku,g.name,s.color
        FROM
            `order` o
            INNER JOIN order_goods og ON o.id = og.order_id
            LEFT JOIN stock s ON s.id = og.stock_id
            LEFT JOIN goods g ON s.goods_id = g.id
            LEFT JOIN `user` u ON o.input_user = u.id
            LEFT JOIN customer c ON o.buyer = c.id
            WHERE o.id = #{orderId}
	    GROUP BY g.sku,g.name,s.color
    </select>
</mapper>